extends ../_layouts/_layout
block title
    title Baikal Magazine
block content
    main.content
        .container
            .news__wrap
                ul.news__list
                    li.news__item
                        a.news__link(href="#")
                            img.news__pic(src="img/news-pic.jpg", alt="news")
                            .news__text-wrap
                                .news__title
                                    h2 Watch: Rare Black Sea Devil Caught on Video
                                .news__description
                                    p With its gaping mouth, needle-sharp teeth
                            span.news__tag.news__tag-travel Travel
                    li.news__item
                        .news__link-lg(href="#")
                            .news__text-wrap--lg
                                .news__title-lg
                                    h2 5 Things We Learned From X-Men: Days of Future Past
                                .news__description-lg
                                    p Peter Dinklage’s porn ‘tache, Jennifer Lawrence’s brilliance and more. Some (tiny) spoilers ahead
                                a.btn.news__btn(href="#")
                                    span.btn__text Watch photos
                            img.news__pic-lg(src="img/news-pic-lg.jpg", alt="news")
                            span.news__tag.news__tag-lg.news__tag-explorers explorers
                    li.news__item
                        .news__link-card.news__link-card-science(href="#")
                            .news__link-tag science
                            .news__title-card
                                    h2 14 Things Men Should Never Wear After 30
                            .news__description-card
                                    p Light a bonfire in the garden, and step bravely into your best-dressed decade
                            a.btn.news__btn-card(href="#")
                                span.btn__text Read More
                    li.news__item
                        a.news__link(href="#")
                            img.news__pic(src="img/news-pic.jpg", alt="news")
                            .news__text-wrap
                                .news__title
                                    h2 Long-Buried Urban Streams See Light Again
                                .news__description
                                    p Figuring out how our brains work is key to understanding
                            span.news__tag.news__tag-nature nature
                    li.news__item
                        a.news__link(href="#")
                            img.news__pic(src="img/news-pic.jpg", alt="news")
                            .news__text-wrap
                                .news__title
                                    h2 Stunning Changes Along Colorado River
                                .news__description
                                    p Lake Powell offering kayakers new channels to explore
                            span.news__tag.news__tag-explorers explorers
                    li.news__item
                        .news__link-card.news__link-card-travel(href="#")
                            .news__link-tag travel
                            .news__title-card
                                h2 How Not To Greet The Dalai Lama
                            .news__description-card
                                p Will Hersey recalls a disastrous encounter with the holiest man alive
                            a.btn.news__btn-card(href="#")
                                span.btn__text Read More
                    li.news__item
                        a.news__link(href="#")
                            img.news__pic(src="img/news-pic.jpg", alt="news")
                            .news__text-wrap
                                .news__title
                                    h2 Offbeat Portraits Give Stars a New Turn
                                .news__description
                                    p I whipped the Scotch tape from my pocket and said
                            span.news__tag.news__tag-nature nature
                    li.news__item
                        a.news__link(href="#")
                            img.news__pic(src="img/news-pic.jpg", alt="news")
                            .news__text-wrap
                                .news__title
                                    h2 Must See Places of the New Year
                                .news__description
                                    p Whether it’s India’s literary hub or mountain majesty
                            span.news__tag.news__tag-explorers explorers
                    li.news__item
                        a.news__link(href="#")
                            img.news__pic(src="img/news-pic.jpg", alt="news")
                            .news__text-wrap
                                .news__title
                                    h2 Robot’s Penguin Disguise Keeps Birds Calm
                                .news__description
                                    p Figuring out how our brains work is key to understanding
                            span.news__tag.news__tag-science science
                    li.news__item
                        a.news__link(href="#")
                            img.news__pic(src="img/news-pic.jpg", alt="news")
                            .news__text-wrap
                                .news__title
                                    h2 The Secret Sauce of Guilty Pleasures
                                .news__description
                                    p What makes some foods nearly irresistible?
                            span.news__tag.news__tag-advices advices
                    li.news__item
                        a.news__link(href="#")
                            img.news__pic(src="img/news-pic.jpg", alt="news")
                            .news__text-wrap
                                .news__title
                                    h2 Stunning Video Reveals Invisible CO2
                                .news__description
                                    p A NASA visualization shows the swirling gas
                            span.news__tag.news__tag-travel travel


