header.header
    .container
        a.header__logo(href="/")
            img.header__logo-img(src="img/logo.png" , alt="Baikal Magazine")
            span.header__logo-text Baikal Magazine
        .header__bar
            .header__bar-top
                ul.nav__list
                    li.nav__item
                        a.nav__link.nav__link-travel(href="#") Travel
                    li.nav__item
                        a.nav__link.nav__link-explorers(href="#") Explorers
                    li.nav__item
                        a.nav__link.nav__link-nature(href="#") Nature
                    li.nav__item
                        a.nav__link.nav__link-science(href="#") Science
                    li.nav__item
                        a.nav__link.nav__link-advices(href="#") Advices
                .header__search
                    form.header__search-form(role="form" , method="GET")
                        input.header__search-input(type="search" , placeholder="Search")
                        input.header__search-submit(type="submit" , value="")
            .header__bar-bottom
                a.header__new(href="#")
                    span.header__new-title
                        h3 Food & Drink
                    span.header__new-text
                        p
                            |FEEL-GOOD KNITS:
                            br
                            |CASHMERE AND MERINO
                    img.header__new-img(src="img/new-img.png", alt="Food & Drink")
                .header__social
                    .header__social-title Follow Us
                    ul.social__list
                        li.social__item
                            a.social__link.social__link-fc(href="#") Facebook
                        li.social__item
                            a.social__link.social__link-tw(href="#") Twitter
                        li.social__item
                            a.social__link.social__link-instagram(href="#") Instagram
                        li.social__item
                            a.social__link.social__link-rss(href="#") RSS