section.slider
    .slider__wrap
        ul.slider__list
            li.slider__item
                a.slider__link
                    img.slider__pic(src="http://lorempixel.com/1920/500" , alt="Photo")
                    .container
                        .slider__text
                            h2 Tentacles Abound in Our Best Jellyfish Pictures
        .slider-nav
            .container
                ul.slider-nav__list
                    li.slider-nav__item
                        a.slider-nav__link(href="")
                            span.slider-nav__title
                                h3 The Journal
                            span.slider-nav__text
                                p
                                    |FEEL-GOOD KNITS:
                                    br
                                    |CASHMERE AND MERINO
                    li.slider-nav__item
                        a.slider-nav__link.active(href="")
                            span.slider-nav__title
                                h3 The Journal
                            span.slider-nav__text
                                p
                                    |FEEL-GOOD KNITS:
                                    br
                                    |CASHMERE AND MERINO
                    li.slider-nav__item
                        a.slider-nav__link(href="")
                            span.slider-nav__title
                                h3 The Journal
                            span.slider-nav__text
                                p
                                    |FEEL-GOOD KNITS:
                                    br
                                    |CASHMERE AND MERINO
                    li.slider-nav__item
                        a.slider-nav__link(href="")
                            span.slider-nav__title
                                h3 The Journal
                            span.slider-nav__text
                                p
                                    |FEEL-GOOD KNITS:
                                    br
                                    |CASHMERE AND MERINO
                    li.slider-nav__item
                        a.slider-nav__link(href="")
                            span.slider-nav__title
                                h3 The Journal
                            span.slider-nav__text
                                p
                                    |FEEL-GOOD KNITS:
                                    br
                                    |CASHMERE AND MERINO